{% extends "base.html" %}
{% block content %}
<style>
	h1{
		font-family : Montserrat;
		font-weight: bold;
		font-size : 22px;
		text-decoration: none;
		color : #595A5A;
		color : rgb(89, 90, 90);
		text-align: center;
		padding: 1.5px 10px 0px 10px;
	}
	h2{
		font-family : Montserrat;
		font-size : 18px;
		text-decoration: none;
		display: inline;
		color : #595A5A;
		color : rgb(89, 90, 90);
		padding-top: 1vh;
		padding-left: 1%;
		margin-right: 1%;
	}
	p{
		font-family : Montserrat;
		font-size : 16px;
		text-decoration: none;
		text-align: center;
		color : #595A5A;
		color : rgb(89, 90, 90);
		text-align: center;
		padding: 1.5px 10px 0px 15px;
	}

	input[type=text]{
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		font-family : Montserrat;
		width: auto;
		padding: 12px 15px;
		margin: auto;
		margin-top: 10px;
		margin-bottom:25px;
		display: inline-block;
		height: 40px;
		
		box-sizing: border-box;
		border: 1px solid #ccc;
		border-style : Solid;
		border-width : 1.5px;
		border-radius : 9px;

		color : #595A5A;
		color : rgb(89, 90, 90);
		outline: none;
	}
	input[type=submit]{
		background-color : #036280;
		color : #F7F7F7;
		color : rgb(247, 247, 247);
		border: none;
		cursor: pointer;
		width: 25%;
		height: 40px;
		margin-left:auto;
		margin-right:auto;
		margin-top: 1vh;
		display: block;
		opacity : 0.8;
		outline: none;
		float: right;
		margin-top: 25vh;


		font-family : Montserrat;
		font-weight : bold;
		font-size : 20px;
		
		border-radius : 9px;
		-moz-border-radius : 9px;
		-webkit-border-radius : 9px;
	}
	input[type=submit]:hover{
		opacity: 0.7;
	}

	select.minor {
		-webkit-appearance: button;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		-webkit-user-select: none;

		font-family : Montserrat;
		font-size : 13px;
		width: auto;
		height: 40px;
		padding: 0 15px;
		margin-top: 10px;
		margin-bottom:25px;
		display: block;

		border-style : Solid;
		color : #595A5A;
		color : rgb(89, 90, 90);
		outline: none;

		box-sizing: border-box;
		border: 1px solid #ccc;
		border-style : Solid;
		border-width : 1.5px;
		border-radius : 9px;
	}

	.select-style select {
		padding: 5px 8px;
		width: 130%;
		border: none;
		box-shadow: none;
		background: transparent;
		background-image: none;
		-webkit-appearance: none;
	}
	select.addtype {        				
		appearance: button;
		-webkit-appearance: button;
		-webkit-user-select: none;

		width: auto;
		margin: auto;
		margin-left: 2px;
		margin-top: 1vh;
		margin-bottom:2vh;
		padding-left: 5px;

		display: inline-block;
		border: none;
		font-family : Montserrat;
		font-weight: bold;
		font-size : 22px;
		text-decoration: underline;
		color : #595A5A;
		color : rgb(89, 90, 90);
		text-align: center;
		outline: none;
		background : rgb(144, 180, 196, 0);
	}
	option.addtype{
		font-family : Montserrat;
		text-decoration: none;
		font-size : 16px;
		background : rgb(247, 247, 247);
	}
	div.query-form{
		padding-top: 3vh;
	}
	body{
		background : rgb(144, 180, 196, 0.4);
	}
	#people{
		padding-top: 1vh;
	}


	form {
		border: 3px solid #f1f1f1;
		background : #F7F7F7;
		background : rgba(247, 247, 247, 1);
		border-radius : 9px;
		max-width: 60%;
		height: 80vh;
		margin: auto;
		padding: 16px;
		border-radius : 9px;
		-moz-border-radius : 9px;
		-webkit-border-radius : 9px;
	}
	form.newperson{
		width: 70%;
	}
	form.newrelationship{
		width: 45%;
		float: center;
		text-align: center;
	}
	form.newassociation{
		width: 45%;
		float: center;
		text-align: center;
	}

	#inline{
		display: inline;
	}
	#space{
		margin-top: 19vh;
		margin-bottom: 19vh;
	}
	div.input-param{
		width: auto;
	}
	div.line{
		width: 100%;
		height: auto;
	}
	div.header{
		width: 15.5%;
		display: inline-block;
	}
</style>

<body>
	<form action="/editPersonData/{{ person.FamilyMemberID }}" method="post" enctype="multipart/form-data">
		<h1>Edit {{ person.FirstName }} {{ person.LastName }}</h1>

		<div class="line">
			<div class="header"> <h2> Name </h2> </div>
			<div class="input-param" id="inline">
				<input type="text" class="input-field" value="{{ person.FirstName }}" placeholder="FirstName" name="FirstName">
				<label class="Input-field" for="input-FirstName"></label>
			</div>
			<div class="input-param" id="inline">
				<input type="text" class="input-field" value="{{ person.LastName }}" placeholder="LastName" name="LastName">
				<label class="Input-field" for="input-LastName"></label>
			</div>
			<div id="inline">
					<input type="text" name="MaidenName" value="{{ person.MaidenName }}" placeholder="MaidenName">
			</div>
		</div>

		<div class="line">
			<div class="header"> <h2> Date of Birth </h2> </div>
			<div id="inline">
				{% if person.DOBDay == None %}
					<input type="text" name="DOBDay"   value=""   placeholder="Day">
				{% else %}
					<input type="text" name="DOBDay"   value="{{ person.DOBDay }}"   placeholder="Day">
				{% endif %}
				{% if person.DOBMonth == None %}
					<input type="text" name="DOBMonth"   value=""   placeholder="Month">
				{% else %}
					<input type="text" name="DOBMonth"   value="{{ person.DOBMonth }}"   placeholder="Month">
				{% endif %}
				{% if person.DOBYear == None %}
					<input type="text" name="DOBYear"   value=""   placeholder="Year">
				{% else %}
					<input type="text" name="DOBYear"   value="{{ person.DOBYear }}"   placeholder="Year">
				{% endif %}
				<select id="inline" class="minor" name="DOBaccuracy">
					{% if person.accuracyDOB == documented %}
						<option value="documented" selected>Documented</option>
						<option value="accurate">Accurate</option>
						<option value="likely">Likely</option>
					{% elif person.accuracyDOB == accurate %}
						<option value="documented">Documented</option>
						<option value="accurate" selected>Accurate</option>
						<option value="likely">Likely</option>
					{% else %}
						<option value="documented">Documented</option>
						<option value="accurate">Accurate</option>
						<option value="likely" selected>Likely</option>
					{% endif %}
				</select>
			</div>
		</div>

		<div class = "line">
			<div class="header"> <h2> Date of Death </h2> </div>
			<div id="inline">
				{% if person.DODDay == None %}
					<input type="text" name="DODDay"   value=""   placeholder="Day">
				{% else %}
					<input type="text" name="DODDay"   value="{{ person.DODDay }}"   placeholder="Day">
				{% endif %}
				{% if person.DODMonth == None %}
					<input type="text" name="DODMonth"   value=""   placeholder="Month">
				{% else %}
					<input type="text" name="DODMonth"   value="{{ person.DODMonth }}"   placeholder="Month">
				{% endif %}
				{% if person.DODYear == None %}
					<input type="text" name="DODYear"   value=""   placeholder="Year">
				{% else %}
					<input type="text" name="DODYear"   value="{{ person.DODYear }}"   placeholder="Year">
				{% endif %}
				<select id="inline" class="minor" name="DODaccuracy">
					{% if person.accuracyDOD == documented %}
						<option value="documented" selected>Documented</option>
						<option value="accurate">Accurate</option>
						<option value="likely">Likely</option>
					{% elif person.accuracyDOD == accurate %}
						<option value="documented">Documented</option>
						<option value="accurate" selected>Accurate</option>
						<option value="likely">Likely</option>
					{% else %}
						<option value="documented">Documented</option>
						<option value="accurate">Accurate</option>
						<option value="likely" selected>Likely</option>
					{% endif %}
				</select>
			</div>
		</div>

		<div class ="line">
			<div class="header"> <h2> Gender </h2> </div>
			<div id="inline">
				<select id="inline" class="minor" name="gender">
					{% if person.Gender == 'm' %}
						<option value = 'm' selected>Male</option>
						<option value = 'f'>Female</option>
					{% else %}
						<option value = 'm' >Male</option>
						<option value = 'f' selected>Female</option>
					{% endif %}
				</select>
			</div>
		</div>

		<img src="data:;base64,{{ imageData }}" alt="No Images Yet"/>
			<input type="file" class="input-field" value="" placeholder="Image" name="Image" id="Image">
			<label class="Input-field" for="input-Image"></label>
		<input type="submit" value="Submit" class="btn btn-primary btn-large btn-block">
	</form>
</body>
{% endblock %}